
.collapsible {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    text-align: center;
  }
  
  .collapsible-header {
    padding: 0.5em;
    cursor: pointer;
    user-select: none;
    font-family: 'Funnel', Monospace;
    text-align: center;
    font-size: 1rem;
  }
  
  .collapsible-container {
    width: 100%;
    border: 2px solid #ddd; /* Adds a border */
    border-radius: 8px; /* Optional rounded corners */
    transition: width 0.1s ease, border-color 0.1s ease; /* Smooth transition for width and border */
    transform-origin: center; /* Center the transform animation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for better appearance */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    gap: 10px; /* Add spacing between items */
    justify-content: space-evenly; /* Space items evenly */
  }
  .projects-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Collapsed container */
  .collapsible-container.collapsed-container {
    width: 100%; /* Reduce width when collapsed */
    margin: 0;
  }
  
  
  /* Collapsed header */
  .collapsible-header.collapsed-header {
    width: 95%; /* Match container width when collapsed */
  }
  

  
  /* Collapsible content */
  .collapsible-content {
    max-height: 100%;
    overflow: auto;
  transition: max-height 0.3s ease;
  }
  
  .collapsible-content.collapsed {
  max-height: 0;
  padding: 0 !important;
  transition: max-height 0.3s ease;
  overflow: hidden;
  }

  

  .collapsibles-container {
    display: flex;
    flex-direction: row; /* Default: items in a row */
    width: 100%;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  

/* Collapsible items when not expanded */
.collapsible-item {
  flex: 1 1 calc(25% ); 
  max-width: calc(25%);
  transition: flex 0.3s ease, max-width 0.3s ease;
}

/* Expanded collapsible item */
.collapsible-item.expanded {
  flex: 1 1 100%;
  max-width: 100%;
}

/* Hidden collapsible items when one is expanded */
.collapsible-item.hidden {
  display: none; /* Hide items */
}

.website-clickable-links {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.website-clickable-links h2 {
  padding: 1%;
  width: 20%;
  text-align: center;
}


  @media (max-width: 768px) {
    html {
      font-size: 90%;
    }


      .collapsible-header{
        font-size: 0.7rem;
      }

      .collapsible-item{
        width: 100%;
      }
      

      .collapsible-content{
        font-size: 0.7rem;
      }
  
      /* Slightly smaller on smaller screens */
      .collapsibles-container {
        flex-direction: column;
        align-items: center;
        max-width: max-content;
        /* Stack items in a column on smaller screens */
      }

      .collapsible-container {
        flex-direction: column;
      }
  
      .collapsible-item {
        flex: 1 1 calc(100% - 20px); /* Stack items in a column */
        max-width: calc(100% - 20px);
      }

          

      li{
        font-size: 0.7rem;
      }
      li:hover{
        font-size: 0.7rem;
      }
    }
  

  @media (max-width: 480px) {
    html{
      font-size: 60%;
    }
  }

  
  @media (max-width: 240px) {
    html{
      .collapsible-header{
        color: transparent; /* make the text invisible */
        user-select: none; /* prevent selection of the text */
      }
    }
  }


  /*styling lists for experience and education and anything else in future*/

  li{
    margin: 10px;
    padding: 10px;
    font-family: 'Funnel', Monospace;
    list-style-type: none;
  }
  li:hover{
    list-style-type: none;
    margin: auto;
    padding: 10px;
    font-size: 1rem;
    background-color: #f0efdb;
    border-radius: 5px;
  }