
<div class="collapsible-container" [class.collapsed-container]="isCollapsed">
    <div class="collapsible-header" 
    [class.collapsed-header]="isCollapsed" 
        (click)="toggleCollapse()"
        (keydown)="toggleCollapse()"
        >
      <h2 class = "experience-header">
        Experience
      </h2>
      <span *ngIf="isCollapsed">▼</span>
        <span *ngIf="!isCollapsed">▲</span>
  
      <div class="collapsible-content" [class.collapsed]="isCollapsed">
        <div class="experience-list">
      
              <h3>Valcon | Technology Consultant | September 2023 –February 2024  | </h3>
              <p>Utilised Java, Spring Boot, Angular ts, to implement front and backend features on the clients Web Product.</p>
              <p>performed Unit and Integration Testing using JUnit and Mockito</p>
              <p>Used Sonar Lint and Sonar Cube for the removal of code smells</p>
              <p>Optimised clients SQL databse through the use of indexing on certain tables and helped maintain database migrations through the use of Flyway</p>
              <p>Worked in an Agile environment using Scrum methodologies</p>

              <h3>Sparta Global | Java Developer | January 2023 – July 2023</h3>
              <p>Trainee Full Stack Developer</p>
              <p>2020 - 2021</p>
              <p>Sparta Global is a technology consultancy that specialises in training and placing junior technology consultants. I completed a 12-week training course in Java, SQL, HTML, CSS, JavaScript and Angular. I was then placed at a client where I worked on a project that involved creating a web application using Java/Spring Boot, SQL, HTML, CSS and JavaScript.</p>

              <h3>Infosys</h3>
              <p>Trainee Full Stack Developer</p>
              <p>2019 - 2020</p>
              <p>Infosys is a global technology consultancy that specialises in digital services and consulting. I completed a 6-week training course in Java, SQL, HTML, CSS, JavaScript and Angular. I was then placed at a client where I worked on a project that involved creating a web application using Java/Spring Boot, SQL, HTML, CSS and JavaScript.</p>

      </div>
      
    </div>
  </div>