
  .experience-list ul{
    list-style-type: disc;
    margin: auto;
    padding: 10px;
    font-size: 1rem;
  }
  
  .experience-list li{
    margin: 10px;
    padding: 10px;
  }

  h3{
    border-radius: 10px;
    text-align: center;
    background-image:linear-gradient(to right, #a8e6ff, #e9f9ff,#a8e6ff); 
  }
