
<div class="collapsible-container" [class.collapsed-container]="isCollapsed">
    <div class="collapsible-header" 
    [class.collapsed-header]="isCollapsed" 
        (click)="toggleCollapse()"
        >
      <h2 class = "experience-header">
        Experience and Qualifications
      </h2>
      <span *ngIf="isCollapsed">▼</span>
        <span *ngIf="!isCollapsed">▲</span>
  
      <div class="collapsible-content" 
      [class.collapsed]="isCollapsed"
      >
        <div class="experience-list">
          <h3>Valcon | Technology Consultant | September 2023 –February 2024  | </h3>
          <ul>
            <li>Utilised Java, Spring Boot, Angular ts, to implement front and backend features on the clients Web Product.</li>
            <li>performed Unit and Integration Testing using JUnit and Mockito</li>
            <li>Used Sonar Lint and Sonar Cube for the removal of code smells</li>
            <li>Optimised clients SQL databse through the use of indexing on certain tables and helped maintain database migrations through the use of Flyway</li>
            <li>Worked in an Agile environment using Scrum methodologies</li>
            <li>Project Management: Agile, Kanban, Scrum </li>
          </ul>

          <h3>Sparta Global | Java Developer | January 2023 – July 2023</h3>
          <ul>
            <li>Helped with the development and maintenance of RESTful API servers managing employee 
                  databases using Spring Boot for their client. </li>
            <li>Languages: Java, Javascript, SQL</li>
            <li>Frameworks: SpringBoot, Bootstrap, </li>
            <li>Testing: Junit, Mockito</li>
            <li>Project Management: Agile, Kanban, Scrum </li>
          </ul>
          <h3>Infosys | Full Stack Developer | Oct 2021 – Oct 2022 </h3>
          <ul>
            <li>Developed a personal organisa onal tool as a full-stack web applica on using JavaScript, HTML, CSS, 
              Bootstrap, and Spring Boot and worked closely with the stakeholders during development. </li>
            <li>Languages: Java, Javascript, SQL </li>
            <li>Frameworks: SpringBoot, Bootstrap</li>
            <li>Testing: Junit, Mockito</li>
            <li>Project Management: Agile, Kanban, Scrum </li>
          </ul>
          <h3>QA Consulting | Java Developer | Feb 2021 – Oct 2021 </h3>
          <ul>
            <li>Developed an inventory management system using Java 11, Mockito, and Junit for server-side testing </li>
            <li>Worked on a full-stack music library web applica on as part of a team, and collaborated with 
              stakeholders. </li>
            <li>Languages: Java, Javascript, SQL </li>
            <li>Frameworks: SpringBoot, Bootstrap</li>
            <li>Testing: Junit, Mockito  </li>
          </ul>
          <h3>Wirexapp | Research Intern | Nov 2017 – Feb 2018 </h3>
          <ul>
            <li>
              Conducted research on cryptocurrency market space and competitors to Wirex 
            </li>
            <li>
              Created a chatbot for moderating the Telegram group chat 
            </li>
            <li>
              Advised customers on potential crypto scams and fraud 
            </li>
          </ul>
          <h3>Qualifications</h3>
          <ul>
            <li>BEng Mechanical Engineering, Brighton University, 2016 2nd class honours </li>
            <li>Post-Graduate Diploma Computer Science, Birkbeck University, 2022 </li>
          </ul>
      </div>
      
    </div>
  </div>