
<div class="collapsible-container" [class.collapsed-container]="isCollapsed">
    <div
        class="collapsible-header"
        (click)="toggleCollapse()"
        tabindex="0"
        role="button"
    >
        <h2>World Populations</h2>
        <p>A tool to search through world populations created myself using this database</p>
        <span *ngIf="isCollapsed">▼</span>
        <span *ngIf="!isCollapsed">▲</span>
    </div>
    
    <div class="collapsible-content" [class.collapsed]="isCollapsed">
        <div class="world-populations">
            <div class = "cities-by-country">
                <p>Search for a country to see its cities and populations</p>
                <input 
                    type = "text"
                    placeholder="Enter Country Name"
                    [(ngModel)]="searchCountry"
                    class="world-populations-input"
                    (keydown.enter)="fetchCitiesByCountry(searchCountry)"
                />
            </div>
            <div class="cities-by-population">
                <p>enter a population to see cities with a population greater than the value you entered</p>
                <input 
                    type = "number"
                    placeholder="Enter Population"
                    [(ngModel)]="searchPopulation"
                    class="world-populations-input"
                    (keydown.enter)="fetchCitiesWithPopulationAbove(searchPopulation)"
                />
            </div>
        </div>
    </div>    
</div>