
<div class="collapsible-container" [class.collapsed-container]="isCollapsed">
    <div
        class="collapsible-header"
        (click)="toggleCollapse()"
        tabindex="0"
        role="button"
    >
        <h2>World Populations</h2>
        <p>A tool to search through world populations created myself using this database</p>
        <span *ngIf="isCollapsed">▼</span>
        <span *ngIf="!isCollapsed">▲</span>
    </div>
    
    <div class="collapsible-content" [class.collapsed]="isCollapsed">
        <div class="world-populations">
            <div class = "cities-by-country">
                <p>Search for a country to see its cities and populations</p>
                <input 
                    type = "text"
                    placeholder="Enter Country Name"
                    [(ngModel)]="searchCountry"
                    class="world-populations-input"
                    (keydown.enter)="fetchCountryByName(searchCountry)"
                />

                <button (click)="fetchCountryByName(searchCountry)" class="world-populations-button">Search</button>

                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                
                <div *ngIf="countryData" class="country-card">
                    <h2>{{ countryData.country.name | titlecase }}</h2>
                    <p>Population: {{ countryData.country.population | number }}</p>
                    <p>Urban Population : {{countryData.totalUrbanPopulation}}</p>
                    <table class="city-populations">
                        <thead>
                            <tr>
                                <th>City</th>
                                <th>Population</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let city of countryData.country.cities">
                                <td>{{ city.name | titlecase }}</td>
                                <td>{{ city.population | number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>