h1{
    text-align:center;
    margin-top:20px;
    font-size: 32px;
    font-weight: bold;
    padding: 7px 7px 7px 7px;
    background: rgb(255,120,120);
background: linear-gradient(90deg, rgba(255,120,120,1) 0%, rgba(244,255,55,1) 41%, rgba(79,192,255,1) 100%);
    border-radius: 30px;

}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid rgb(255,120,120);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

tr, td{
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(255,120,120);
}


h2{
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    padding: 7px 7px 7px 7px;
    border-radius: 30px;
}

p{
    text-align: left;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 7px 7px 7px;
    border-radius: 30px;
}

.pokemon-container{ 
    display: flex;
    flex-direction: column;
    background: rgb(255,157,157);
    background: linear-gradient(0deg, rgba(255,157,157,1) 0%, rgba(137,225,255,1) 100%);
}
