.about-me-image {
  width: 33.33vw;          /* One-third of viewport width */
  height: auto;            /* Maintain aspect ratio */
  max-width: 100%;         /* Prevent overflow */
  border-radius: 8px;
  object-fit: cover;       /* Ensure the image fills the box without distortion */
}

.about-me-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.about-me-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
}

.pokedex-header {
  padding: 10px;
  cursor: pointer;
  user-select: none;
  background-color: #ff6f6f;
  color: #ff8f8f;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}


@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column !important;
  }

  .about-me-image {
    width: 80vw;
    height: auto;
  }

  .about-me-text {
    text-align: center;
  }
}