



    <table
      class="tech-stack-table"
    >
      <thead
      >
        <th>Technology</th>
        <th>Component With</th>
        <th>Experienced With</th>
      </thead>
      <tbody
      >
        <tr
          *ngFor="let skill of skills; let rowIndex = index"
          [class.highlight-row]="hoveredRow === rowIndex"
        >
          <td
            (mouseenter)="onMouseEnterCell(rowIndex, 0)"
            (mouseleave)="onMouseLeaveCell()"
            [class.highlight-cell]="hoveredColumn === 0"
          >
            {{ skill.technology }}
          </td>
          <td
            (mouseenter)="onMouseEnterCell(rowIndex, 1)"
            (mouseleave)="onMouseLeaveCell()"
            [class.highlight-cell]="hoveredColumn === 1"
          >
            {{ skill.componentWith }}89+
          </td>
          <td
            (mouseenter)="onMouseEnterCell(rowIndex, 2)"
            (mouseleave)="onMouseLeaveCell()"
            [class.highlight-cell]="hoveredColumn === 2"
          >
            {{ skill.experiencedWith }}
          </td>
        </tr>
      </tbody>
    </table>


