

/* using css to style the table */

.tech-stack-table {
    width: 100%;
    border-collapse: collapse;  /* removes cell spacing */
    margin: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
  }
  
  /* styling the header */
  
  .tech-stack-table thead th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  /* styling the table rows */
  .tech-stack-table tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  /* add padding to the table cells */
  .tech-stack-table td {
    padding: 10px;
  }
  
  
  /* Row hover effect */
  .tech-stack-table .highlight-row {
    background-color: #f9f9f9; /* Light gray for row */
  }
  
  /* Column highlight effect */
  .tech-stack-table .highlight-cell {
    background-color: #f9f9f9; /* Light blue for cell and column */
  }
  
  .tech-stack-table tbody tr td:hover {
    background-color:#e0e0e0;
  }


  .collapsible {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
  }
  
  .collapsible-header {
    padding: 0.5em;
    cursor: pointer;
    user-select: none;
  }

  .collapsible-container {
    width: 100%;
    border: 2px solid #ddd; /* Adds a border */
    border-radius: 8px; /* Optional rounded corners */
    transform-origin: top left; /* Start animation from top left */
    transition: width 0.3s ease, border-color 0.3s ease; /* Smooth transition for width and border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for better appearance */
    margin-left: flex-start;
  }

  /* Collapsed container */
  .collapsible-container.collapsed-container {
    width: 100%; /* Reduce width when collapsed */
    margin: 0;
  }


  /* Collapsed header */
  .collapsible-header.collapsed-header {
    width: 95%; /* Match container width when collapsed */
  }

  
  .collapsible-header:hover {
    background-color: #e0f0ff;
  }
  
/* Collapsible content */
.collapsible-content {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
  
.collapsible-content.collapsed {
  max-height: 0;
  padding: 0;
  transition: max-height 0.3s ease;
}
  
  /* dynamically resizing the table to match the users screen size*/
  
  @media (max-width: 768px) {
    .tech-stack-table {
      font-size: 14px;
    }
  
    .tech-stack-table thead {
      display: none; /* Hide the table header on smaller screens */
    }
  
    .tech-stack-table tbody tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      border: 1px solid #ddd;
    }
  
    .profile-table td {
      display: block;
      text-align: center;
      padding: 5px;
      position: relative;
    }
  
    .profile-table td::before {
      content: attr(data-label); /* Use data-label attribute for column names */
      position: absolute;
      left: 0;
      text-align: left;
      font-weight: bold;
    }
  }


  