

/* using css to style the table */

.tech-stack-table {
    width: 97.5%;
    border-collapse: collapse;  /* removes cell spacing */
    margin: auto;
    font-size: 16px;
    border: 1px solid #ddd;
  }
  
  /* styling the header */
  
  .tech-stack-table thead th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    font-family: 'Funnel', Monospace;
  }
  
  /* styling the table rows */
  .tech-stack-table tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  /* add padding to the table cells */
  .tech-stack-table td {
    padding: 10px;
    font-family: 'Funnel', Monospace;
  }
  
  
  /* Row hover effect */
  .tech-stack-table .highlight-row {
    background-color: #f9f9f9; /* Light gray for row */
  }
  
  /* Column highlight effect */
  .tech-stack-table .highlight-cell {
    background-color: #f9f9f9; /* Light blue for cell and column */
  }
  
  .tech-stack-table tbody tr td:hover {
    background-color:#e0e0e0;
  }

  .collapsible-content.collapsed .tech-stack-table {
    display: none; /* Hide table completely during collapse */
}
  

  
  /* dynamically resizing the table to match the users screen size*/
  
  @media (max-width: 768px) {
    .tech-stack-table {
      font-size: 0.7rem;
    }
  
    .tech-stack-table thead {
      display: none; /* Hide the table header on smaller screens */
    }
  
    .tech-stack-table tbody tr {
      flex-direction: column;
      margin-bottom: 10px;
      border: 1px solid #ddd;
    }
  
    .profile-table td {
      display: block;
      text-align: center;
      padding: 5px;
      position: relative;
    }
  
    .profile-table td::before {
      content: attr(data-label); /* Use data-label attribute for column names */
      position: absolute;
      left: 0;
      text-align: left;
      font-weight: bold;
    
    }

    
  }


  