/* General reset to apply border-box for better box-sizing */



.website-header h1 {
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  padding: auto;
  font-family: 'Funnel', Monospace;
}


.website-clickable-links {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.website-clickable-links h2 {
  padding: 1%;
  width: 20%;
  text-align: center;
}




@media (max-width: 768px) {
  html {
    font-size: 90%;

    /* Slightly smaller on smaller screens */
  
    .website-header h1 {
      font-size: 1.8rem;
      /* Adjust font size for smaller screens */
      text-align: center;
      /* Center align header */
    }


  }
}

@media (max-width: 482px) {

  .website-clickable-links{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40%;
  }


}

