<div class="website-header">
  <h1>Michael Shalaby</h1>
</div>

<div class="website-clickable-links">
  <a
    mat-raised-button
    class="website-button"
    href="https://www.linkedin.com/in/michael-shalaby-535977129/"
    target="_blank"
  >
    LinkedIn
  </a>
  <a
    mat-raised-button
    class="website-button"
    href="https://github.com/shalamike"
    target="_blank"
  >
    GitHub
  </a>
  <a
    mat-raised-button
    class="website-button"
    href="https://drive.google.com/file/d/1zepFJigPrVntvxkc8_NFSQH_OMzbzAlo/view?usp=sharing"
    target="_blank"
  >
    CV
  </a>
</div>

<div class="accordion-controls" style="text-align: center; margin-bottom: 10px;">
  <button mat-raised-button color="primary" (click)="expandAll()">Expand All</button>
  <button mat-raised-button color="warn" (click)="collapseAll()">Collapse All</button>
</div>

<mat-accordion multi="true">
  <!-- Tech Stack -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Tech Stack </mat-panel-title>
    </mat-expansion-panel-header>
    <app-tech-stack></app-tech-stack>
  </mat-expansion-panel>

  <!-- Profile -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Profile </mat-panel-title>
    </mat-expansion-panel-header>
    <app-profile></app-profile>
  </mat-expansion-panel>

  <!-- Experience -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Experience </mat-panel-title>
    </mat-expansion-panel-header>
    <app-experience></app-experience>
  </mat-expansion-panel>

  <!-- Hobbies, Interests, and Projects -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Hobbies, Interests, and Projects </mat-panel-title>
    </mat-expansion-panel-header>
    <app-hobbies-interests-projects></app-hobbies-interests-projects>
  </mat-expansion-panel>
</mat-accordion>
